@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Libre+Caslon+Text&display=swap');

.best-sellers {
    padding: 60px 20px;
    text-align: center;
    background: linear-gradient(to bottom, #FDE8C8 0%, #FFFAF8 20%, #FFFAF8 100%);
}

    .best-sellers h2 {
        font-size: 38px;
        margin-bottom: 40px;
        font-weight: bold;
        font-family: 'Libre Caslon Text', serif;
        color: #603A31;
    }

.best-sellers-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 115px;
}

.item-container {
    background: linear-gradient(to bottom, #ECDED6 0%, #FFFAF8 95%);
    padding: 40px;
    border-radius: 150px;
    box-shadow: none !important;
    width: 280px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .item-container:hover {
        transform: translateY(-5px);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    }

.bottle-frame {
    width: 100%;
    overflow: hidden;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
}

.bottle-img {
    display: block;
    transition: transform 0.3s ease;
    position: relative;
}

/* Индивидуальные стили для изображений */
.img-no5 {
    width: 399px;
    height: 399px;
    object-fit: contain;
    top: -5px;
    border-radius: 50px;
}

.img-baccarat {
    width: 470px;
    height: 360px;
    object-fit: cover;
    top: -15px;
    border-radius: 50px;
}

.img-libre {
    width: 260px;
    height: 350px;
    object-fit: cover;
    top: -12px;
    border-radius: 50px;
}

.info-wrap {
    margin-top: -5px;
    margin-bottom: 6px;
}

.label-house {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #8C6A5E;
    margin: 0;
    line-height: 1.1;
}

.title-main {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #8C6A5E;
    margin: -2px 0 0 0;
    line-height: 1.1;
}

.amount-tag {
    color: #6A0203;
    font-weight: 400;
    font-size: 32px;
    margin: 4px 0 8px;
    font-family: 'Poppins', sans-serif;
}

.btn-outline {
    background-color: #FFFAF8;
    color: #6A0203;
    border: 2px solid #6A0203;
    padding: 14px 32px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Poppins', sans-serif;
    margin-top: 14px;
}

    .btn-outline:hover {
        background-color: #6A0203;
        color: #FFFAF8;
    }
