.company-wrapper {
    display: flex;
    padding: 30px;
    background-color: #fefbf8;
    min-height: 100vh;
}

.company-sidebar {
    width: 250px;
    border-right: 1px solid #ddd;
    padding-right: 20px;
}

.company-menu {
    font-family: 'Poppins', sans-serif;
    list-style: none;
    padding: 0;
}

    .company-menu li {
        padding: 12px 10px;
        margin-bottom: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #603A31;
        border-radius: 8px;
        transition: background 0.2s ease;
    }

        .company-menu li:hover,
        .company-menu li.active {
            background-color: #f3eae5;
        }

.company-main {
    flex: 1;
    padding-left: 40px;
}

.company-card {
    background: white;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.company-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.company-avatar {
    width: 100px;
    height: 100px;
    background: #eee;
    border-radius: 50%;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
}

.company-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.company-email {
    color: #666;
    margin-bottom: 20px;
}

.company-info p {
    margin-bottom: 8px;
    font-size: 15px;
    color: #444;
}
