.perfume-detail-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding: 60px;
    background-color: #fef9f4;
    flex-wrap: wrap;
}

/* Левая колонка: кнопка + картинка */
.perfume-detail-left {
    margin-left: 125px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.perfume-detail-image-block {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.perfume-detail-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 0px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.perfume-detail-card {
    background: linear-gradient(180deg, #ECDED6 0%, #FFFAF8 50%, #FFFAF8 100%);
    padding: 30px;
    height: 350px;
    width: 850px;
    border-radius: 30px;
    display: flex;
    margin-left: 150px;
    flex-direction: column;
}

.perfume-detail-brand {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #5c4033;
    margin-bottom: 5px;
}

.perfume-detail-name {
    font-family: 'Libre Caslon Text', serif;
    font-size: 2rem;
    color: #5c2d24;
    margin: 0;
}

.perfume-detail-volume-dropdown {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #8C6A5E;
    margin: 10px 0;
}

.perfume-detail-description {
    color: #5a4741;
    font-size: 0.95rem;
    margin: 10px 0 20px 0;
    line-height: 1.5;
}

.perfume-detail-price {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: #731718;
    margin: 10px 0;
}

.perfume-detail-actions {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.quantity-controls {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    background-color: #f1e7d2;
    border-radius: 20px;
    padding: 5px 15px;
    font-weight: 600;
    font-size: 1rem;
    color: #8C6A5E;
}

    .quantity-controls button {
        background: none;
        border: none;
        font-size: 1.3rem;
        font-weight: bold;
        color: #8C6A5E;
        cursor: pointer;
    }

    .quantity-controls span {
        margin: 0 10px;
        min-width: 20px;
        text-align: center;
    }

.perfume-detail-add-to-cart {
    font-family: 'Poppins', sans-serif;
    padding: 12px 24px;
    background-color: #e8ddc6;
    color: #5c4033;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .perfume-detail-add-to-cart:hover {
        background-color: #d6c7af;
    }

.perfume-detail-review-btn {
    font-family: 'Poppins', sans-serif;
    padding: 12px 24px;
    background-color: #f6eee3;
    color: #731718;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .perfume-detail-review-btn:hover {
        background-color: #e5dac5;
    }

.perfume-detail-reviews {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin-top: 50px;
    padding: 0 60px;
}

.review-card {
    background-color: #f5eadd;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.favorite-button {
    margin-left: -145px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 16px;
    transition: background-color 0.3s;
}

/*  Scent Intel + Composition */
.perfume-intel-composition {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: #fff8f5;
    margin: 60px auto;
    padding: 40px 60px;
    border-radius: 30px;
    width: 100%;
    box-sizing: border-box;
    gap: 40px;
    flex-wrap: wrap;
}

.intel-block {
    flex: 1px;
    text-align: center;
}

.composition-block {
    flex: 1;
    text-align: center;
}

    .intel-block h3,
    .composition-block h3 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #5c3b2e;
        font-family: 'Libre Caslon Text', serif;
    }

/* График Scent Intel ограничен по ширине */
.scent-chart-container {
    font-family: 'Poppins', sans-serif;
    width: 380px;
    height: 380px;
    margin: -25px auto 0 auto;
}

/* Картинка Composition */
.composition-image {
    max-width: 300px;
    width: 100%;
    height: auto;
}

.composition-image-wrapper {
    position: relative;
    display: inline-block;
}

.composition-labels .label {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    padding: 4px 10px;
    font-size: 18px;
    color: #731718;
    font-weight: 500;
    border-radius: 4px;
}

.label.citrus {
    top: 74%;
    left: -20%;
}

.label.neroli {
    top: 22%;
    right: -26%;
}

.label.ambrette {
    top: 22%;
    left: -35%;
}

.label.fruits {
    top: 72%;
    left: -20%;
}

.label.rose {
    top: 40%;
    right: -35%;
}

/* Горизонтальные линии */
.line {
    position: absolute;
    height: 2px;
    background-color: #731718;
    z-index: 1;
}

.line-citrus {
    top: 80%;
    left: 5.5%;
    width: 70px;
}

.line-neroli {
    top: 27.5%;
    right: -3%;
    width: 65px;
}

.line-ambrette {
    top: 28%;
    left: 3%;
    width: 65px;
}

.line-fruits {
    top: 78.5%;
    left: 6%;
    width: 65px;
}

.line-rose {
    top: 45.5%;
    right: -14%;
    width: 65px;
}
